@model Newscast
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Slayt <small>Yeni Haber Ekle</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" asp-area="admin" asp-controller="Newscast" asp-action="Edit" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="@Model.Id" />
                            <input type="hidden" asp-for="@Model.PhotoPath" />
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name" asp-for="@Model.Title"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" asp-for="@Model.Title">
                                    <span asp-validation-for="@Model.Title"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name" asp-for="@Model.PhotoPath"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="file" class="form-control" asp-for="@Model.PhotoPath" accept="image/*">
                                    <span asp-validation-for="@Model.PhotoPath"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name" asp-for="@Model.Date"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" asp-for="@Model.Date">
                                    <span asp-validation-for="@Model.Date"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name" asp-for="@Model.Link"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" asp-for="@Model.Link">
                                    <span asp-validation-for="@Model.Link"></span>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <a class="btn btn-primary" asp-area="admin" asp-controller="Newscast" asp-action="Index">İptal</a>
                                    <button class="btn btn-primary" type="reset">Temizle</button>
                                    <button type="submit" class="btn btn-success">Güncelle</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>